.chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.window{
    margin-top: 10px;
    width: 80%;
    height: 70vh;
    overflow-y: auto;
    flex-grow: 2;
}
.form{
  margin-top: 10px;  
  width: 80%;
  display: flex;
  justify-content: center;
}

.input{
    width: 100%;
    height: 50px;
    border: 2px solid black;
    font-size: 16px;
}

.button{
    display: inline-block;
    color: black;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;

  } 
 .button:hover { background: black; color: white; }
.button:active { background: white; }


.message{
    width: 70%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.avatar{
vertical-align: middle;
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 10px;
}

.info{
    display: flex;
    align-items: center;
}

.name{
   background-color: black;
   color: white;
   font-weight: bold;
}

.text{
    word-wrap: break-word;
}